<h1>Listing Versions</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Created At</th>
    <th></th>
  </tr>
 
  <% @versions.each do |version| %>
    <tr>
      <td><%= version.id %></td>
      <td><%= version.created_at %></td>
      <td><%= link_to 'Show Version', room_type_show_version_path(version.id) %></td> 
    </tr>
  <% end %>
</table>



